<div class="container mt-5">
  <div class="row">
    <div class="col-3"> </div>
    <div class="col-6 ">
      <h2> Create a new list </h2>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-3">
  </div>
</div>
