// Define variables for your color scheme

// For example:
$white: #FFFFFC;
$gray: #6D7275;
$dark-gray: #37393B;
$light-gray:#B6B9B9;
$dark_blue: #465775;
$blue: #688FD1;
$coral: #EF6F6C;
$black: #000000;
$yellow: #EABA6B;
$orange: #ED956C;
$red: #CF3F3A;
