<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <p> add js magic here </p>
      <%= simple_form_for @movie do |f| %>
        <%= f.select  %>
    </div>
  </div>
</div>
